 {{!-- Setup the `index.handlebars` to have the template that Handlebars can render onto. --}} {{!-- Create a button in `index.handlebars`
that will submit the user input into the database. --}}
<div class="container border border-dark rounded bg-dark text-white ">
  <div class="row d-flex justify-content-center">
    <div class="col-12 text-center">
      <h1>What kind of burger would you like</h1>
    </div>
  </div>
</div>

<div class="container p-3 mb-2 bg-primary text-white">
  <div class="row d-flex ">
    <div class="col-4">
      <ul>
        {{#each burgers}}
        <li>
          <p>
            <button data-burgerid="{{this.id}}" class="devourBurger">Devour</button>
            {{this.id}}.{{this.burger_name}}
          </p>
        </li>
        {{/each}}
      </ul>
    </div>
    <div class="col-5">
      <h2>Add burger to menu</h2>
      <form id="addBurger" class="button-size">
        <textarea type="text" name="burger"></textarea>
        <br>
        <button class=t ype="submit">Save Burger!</button>
      </form>
    </div>
  </div>
</div>

<script type="text/javascript">


  $("#addBurger").on("submit", function (event) {
    // Make sure to preventDefault on a submit event.
    event.preventDefault();
    var newBurger = {
      burger: $("#addBurger [name=burger]").val().trim()
    };
    // Send the POST request.
    $.ajax("/burgers", {
      type: "POST",
      data: newBurger
    }).then(
      function () {
        console.log("added new burger");
        // Reload the page to get the updated list
        location.reload();
      })
  });





  $(".devourBurger").on("click", function (event) {
    console.log("your in devour")
    // Make sure to preventDefault on a submit event.
    event.preventDefault();
   
       var id = $("[data-burgerid=id]");
      var devouredBurger = ($(this).data("burgerid"))
      console.log(devouredBurger)

        $.ajax("/burgers/:id", {
      type: "PUT",
      data: devouredBurger
    }).then(
      function () {
        console.log("devoured burger");
        // Reload the page to get the updated list
        location.reload();
      })
  });

</script>